header{
    padding: 1em;
    height: 15vh;
    display: flex;
    align-items: flex-start;
    h2{
        color: white;
    }
    img{
        cursor: pointer;
    }

}

.logo-text{
    cursor: pointer;
    font-family: 'Carrois Gothic SC', sans-serif;
   
}

